{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '설정', true) }}
    {{ macros.m_tab_head('auto', '자동 & 기타', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
  {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_input_int('clear_cache_max_size', '최대 크기',  desc=['이 크기 이상일 경우 삭제', '0이면 항상 삭제', 'GB 단위'], value=arg['clear_cache_max_size']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_buttons([['get_size_phototranscoder_btn', '크기 확인'], ['clear_phototranscoder_btn', '비우기']]) }}
  {{ macros.m_tab_content_end() }}  

  {{ macros.m_tab_content_start('auto', false) }}
    {{ macros.global_setting_scheduler_button_page(arg['is_include'], arg['is_running']) }}
    {{ macros.setting_input_text('clear_cache_interval', '스케쥴링 실행 정보', value=arg['clear_cache_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
    {{ macros.setting_checkbox('clear_cache_auto_start', '시작시 자동실행', value=arg['clear_cache_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
  {{ macros.m_tab_content_end() }}
</div><!--tab-content-->
</form>



<script type="text/javascript">
var path_app_root = "{{arg['path_app_root']}}";

$(document).ready(function(){
});

$("body").on('click', '#get_size_phototranscoder_btn', function(e){
  e.preventDefault();
  globalSendCommandPage('cache_size');
});

$("body").on('click', '#clear_phototranscoder_btn', function(e){
  e.preventDefault();
  globalSendCommandPage('cache_clear');
});

</script>    
{% endblock %}
