{% extends "base.html" %}
{% block content %}
<style>
  .badge-sm {
    min-width: 1.8em;
    padding: .25em !important;
    margin-left: .1em;
    margin-right: .1em;
    color: white !important;
    cursor: pointer;
}
</style>

{{ macros.m_button_group([['globalDbDeleteBtn', 'DB 초기화'], ['remove_no_append_data_btn', '추가 파일이 없는 데이터 삭제'], ['all_append_files_show_btn', '모두 확장'], ['all_append_files_hide_btn', '모두 축소'] ])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

{{ macros.m_hr_head_bottom() }}

<div>
  <form id="form_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-6">
          <select id="order" name="order" class="form-control form-control-sm">
            <option value="desc">최근순</option>
            <option value="asc">오래된순</option>
          </select>
          <select id="option1" name="option1" class="form-control form-control-sm">
            <option value="all" selected>전체</option>
            {% if arg['library_list'] is not none %}
            {% for item in arg['library_list'] %}
              <option value="{{ item['id'] }}">{{item['name']}}</option>
            {% endfor %}
            {% endif %}
          </select>
          <select id="option2" name="option2" class="form-control form-control-sm">
            <option value="all" selected>전체</option>
            <option value="append">추가된 항목만</option>
          </select>
        </span>
        <span class="col-md-6">
          <input id="keyword" name="keyword" class="form-control form-control-sm w-75" type="text" placeholder="추가된 파일 경로" aria-label="Search">
          {{ macros.m_button_group([['globalSearchSearchBtn', '검색'], ['globalSearchResetBtn', '리셋']])}}
        </span>
      </div>
    </div>
  </form>
  <div id='page1'></div>
  
  <div id="list_div"></div>
  <div id='page2'></div>
</div>


<script type="text/javascript">
var last_list_option = "{{arg['periodic_item_last_list_option']}}";
var machine = "{{arg['base_machine']}}";

$(document).ready(function(){
  tmp = last_list_option.split('|');
  if (tmp.length == 5) {
    $("#order").val(tmp[0]);
    $("#keyword").val(tmp[2]);
    $("#option1").val(tmp[3]);
    $("#option2").val(tmp[4]);
    globalRequestSearch(tmp[1]);
  } else {
    globalRequestSearch('1');
  }
});

$("body").on('change', '#order', function(e){
  globalRequestSearch('1');
});

$("body").on('change', '#option1', function(e){
  globalRequestSearch('1');
});

$("body").on('change', '#option2', function(e){
  globalRequestSearch('1');
});


function make_list(data) {
  str = '';
  str = '<table id="result_table" class="table table-sm  tableRowHover "  ><thead class="thead-dark"><tr> \
    <th style="width:5%">ID</th> \
    <th style="width:10%; text-align:center;">시작시간</th> \
    <th style="width:10%; text-align:center;">종료시간</th> \
    <th style="width:20%; text-align:left;">섹션명</th> \
    <th style="width:10%; text-align:left;">상태</th> \
    <th style="width:10%; text-align:right;">스캔시간</th> \
    <th style="width:10%; text-align:right;">추가 파일 수</th> \
    <th style="width:10%; text-align:right;">전체 파일 수</th> \
    </tr></thead><tbody id="list">';
  
  if (data.length == 0) str += '<tr><td colspan="6"><h4>검색된 데이터가 없습니다.</h4></td></tr>';

  for(i in data) {
    str += '<tr class="chover" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse_' + i + '" aria-expanded="true" >';
    str += '<td scope="col" style="width:5%; text-align:left;">'+ data[i].id + '</td>';
    str += '<td scope="col" style="width:10%; text-align:center;">'+ data[i].start_time + '</td>';
    tmp =  (data[i].finish_time != null) ? data[i].finish_time  : '--';
    str += '<td scope="col" style="width:10%; text-align:center;">'+ tmp + '</td>';
    str += '<td scope="col" style="width:20%; text-align:left;">'+ data[i].section_title + '</td>';
    tmp = data[i].status;
    if (data[i].status == 'working' && data[i].finish_time == null) {
      tmp = text_color('실행중', 'blue');
      tmp += '<span style="margin-left:10px"></span></span><input type="button" id="kill_btn" value="KILL" class="btn btn-sm btn-outline-danger py-0" style="font-size: 0.8em;" data-id="'+data[i].id+'">';
    }
    else if (data[i].status == 'finished') tmp = '완료';
    else if (data[i].status == 'timeout') tmp = text_color('시간초과', 'red');
    else if (data[i].status == 'terminated') tmp = text_color('중지', 'red');
    else if (data[i].status == 'user_stop') tmp = text_color('사용자 중지', 'red');
    str += '<td scope="col" style="width:10%; text-align:left;">'+ tmp + '</td>';
    tmp =  (data[i].duration != null) ? (parseInt(data[i].duration / 60) > 0 ? parseInt(data[i].duration / 60) + '분 ' : '')+ String(data[i].duration % 60).padStart(2, '0') + '초' : '--'; 
    str += '<td scope="col" style="width:10%; text-align:right;">'+ tmp + '</td>';
    tmp =  (data[i].part_append_count != null) ? data[i].part_append_count  : '--';
    str += '<td scope="col" style="width:10%; text-align:right;">'+ tmp + '</td>';
    tmp =  (data[i].part_after_count != null) ? data[i].part_after_count  : '--';
    str += '<td scope="col" style="width:10%; text-align:right;">'+ tmp + '</td>';
    str += '</tr>';
    if (data[i].append_files != null && data[i].append_files != '') {
      str += '<tr class="collapse tableRowHoverOff" style="cursor: pointer;"  id="collapse_' + i + '">';
      str += '<td></td><td colspan="11">';
      tmp = '';
      list = data[i].append_files.split('\n');
      for(j in list) {
        tmp2 = list[j].split('|');
        url = 'https://app.plex.tv/desktop/#!/server/' + machine + '/details?key=%2Flibrary%2Fmetadata%2F' + tmp2[0];
        tmp += '<a href="' + url + '" target="_blank">' + tmp2[1] + '</a><br>';
      }
      str += '<div id="detail_'+ i +'">';
      str += tmp;
      str += '</div>';
      str += '</td>';
      str += '</tr>'
    }
  }
  str += '</table>';
  document.getElementById("list_div").innerHTML = str;

  return
}

$("body").on('click', '#all_append_files_show_btn', function(e){
  e.preventDefault();
  $('.collapse').collapse('show');

});

$("body").on('click', '#all_append_files_hide_btn', function(e){
  e.preventDefault();
  $('.collapse').collapse('hide');
});

$("body").on('click', '#kill_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  globalSendCommand('kill', id);
});

$("body").on('click', '#remove_no_append_data_btn', function(e){
  e.preventDefault();
  globalSendCommand('remove_no_append_data', null, null, null, function(ret){
    $('#globalSearchResetBtn').click();
  });
});




</script> 

{% endblock %}
