{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalImmediatelyExecutePageBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '설정', true) }}
    {{ macros.m_tab_head('auto', '자동 & 기타', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
  {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_input_int('clear_cache_max_size', '최대 크기',  desc=['이 크기 이상일 경우 삭제', '0이면 항상 삭제', 'GB 단위'], value=arg['clear_cache_max_size']) }}
    {{ macros.setting_buttons([['get_size_phototranscoder_btn', '크기 확인'], ['clear_phototranscoder_btn', '비우기']]) }}
    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('clear_cache_retrieve_category', '캐시 삭제 후 범주 복구', value=arg['clear_cache_retrieve_category'], desc=['캐시 삭제 후 전체 섹션을 대상으로 범주 이미지 캐시를 미리 요청합니다.', '단독으로 실행할 경우 "지금 실행" 버튼을 사용하거나 API로 요청하세요.', 'POST /plex_mate/api/clear/retrieve_category', 'Request body: apikey={YOUR_APIKEY}[&section_id={SECTION_ID}]'])}}
    <div class="row" style="padding-top: 10px; padding-bottom:10px; align-items: center;">
      <div class="col-sm-3 set-left"></div>
      <div class="col-sm-9">
        <div class="input-group col-sm-5">
          <select id="clear_cache_retrieve_category_section_id" class="form-control form-control-sm">
            {% for item in arg['library_sections'] %}
              {% if value is not none and value == item[0] %}
              <option value="{{ item[0] }}" selected>{{item[1]}}</option>
              {% else %}
              <option value="{{ item[0] }}">{{item[1]}}</option>
              {% endif %}
            {% endfor %}
          </select>
          <div class="btn-group btn-group-sm flex-wrap mr-2" role="group" style="padding-left:5px; padding-top:0px">
            <button id="clear_cache_retrieve_category_btn" class="btn btn-sm btn-outline-primary">지금 실행</button>
          </div>
        </div>
      </div>
    </div>
  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('auto', false) }}
    {{ macros.global_setting_scheduler_button_page(arg['is_include'], arg['is_running']) }}
    {{ macros.setting_input_text('clear_cache_interval', '스케쥴링 실행 정보', value=arg['clear_cache_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
    {{ macros.setting_checkbox('clear_cache_auto_start', '시작시 자동실행', value=arg['clear_cache_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
  {{ macros.m_tab_content_end() }}
</div><!--tab-content-->
</form>



<script type="text/javascript">
var path_app_root = "{{arg['path_app_root']}}";

$(document).ready(function(){
});

$("body").on('click', '#get_size_phototranscoder_btn', function(e){
  e.preventDefault();
  globalSendCommandPage('cache_size');
});

$("body").on('click', '#clear_phototranscoder_btn', function(e){
  e.preventDefault();
  globalSendCommandPage('cache_clear');
});

$("#clear_cache_retrieve_category_btn").on('click', function(e){
  e.preventDefault();
  selected_section = $("#clear_cache_retrieve_category_section_id").prop('value');
  globalSendCommandPage('retrieve_category', selected_section);
});

</script>
{% endblock %}
